:root {
    --main-title-color: #ffffff;
    --second-title-color: #000000;
    --second-text-color: #D60B51;
    --third-text-color: #727289;
    --first-button-color: #ffffff;
    --second-buton-color: #D60B51;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.header {
    position: relative;
    background: #232331;
}

.header:before {
    content: '';
    position: absolute;
    background-color: var(--second-buton-color);
    top: 0;
    bottom: 0;
    right: 0;
    width: 25%;
}

.container {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-wrap {
    position: relative;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-list {
    display: flex;
}