:root {
    --main-title-color: #ffffff;
    --second-title-color: #000000;
    --second-text-color: #D60B51;
    --third-text-color: #727289;
    --first-button-color: #ffffff;
    --second-buton-color: #D60B51;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}
.header {
    background: #232331;
}
.container {
    max-width: 1512px;
    width: 100%;
    margin: 0 auto;
    display: flex;
        justify-content: space-between;
        align-items: center;
}
.header-nav {
    display: flex;
        align-items: center;
}
.header-list {
    display: flex;
}